* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 80px;
   min-width: 350px;
    box-sizing: border-box;
    background-color: rgb(49, 19, 77);
}

header a,
ul {
    display: inline-block;


}

header ul {
    width: 80%;
    text-align: center;

}

header a {
    padding: 20px 10px 10px 10px;
}

.IB {
    display: inline-block;
    padding: 10px 15px;
    color: white;

}

.IB:hover {
    background-color: rgb(180, 157, 202);
    cursor: pointer;
    color: black;
}

nav {
    height: 60px;
    min-width: 350px;
    border: 2px solid black;
    background-color: rgb(67, 21, 109);


}
nav ul{
    margin-top: 9px;
}

.btn {
    float: right;
    margin: 10px;
    background-color: transparent;
    padding: 10px;
    color: rgb(246, 246, 216);
    border:1px solid yellow;
    font-weight: bold;
    font-size: 14pt;
    border-radius: 5px;

}

.btn:hover {
    background-color: rgb(251, 251, 56);
    color:rgb(31, 5, 54)
}

.content {

    height: 550px;
    box-sizing: border-box;
}

.left {
    float: left;
    height: inherit;

    overflow: auto;
}
.left ul li input{
    height: 40px;
    width: 120px;
    font-size: 14pt;
    border-radius: 8px;
}

.left ul li {
    list-style: none;
    padding: 20px 60px 20px 40px;
    background-color: rgb(179, 150, 206);
}

.left ul li:hover {
    background-color: blueviolet;
    color: white;
    cursor: pointer;

}

.center {
    float: left;
    width: calc(100% - 450px);
    min-width: 350px;
    height: inherit;

    overflow: auto;
    background-color: rgb(240, 225, 225);

}

.center h1,
.center h2,
.center p {

    padding: 0.5em 40px;
}

.right {
    float: right;
    width: fit-content;
    height: 450px;

}

.right ul li {
    list-style: none;
    padding: 10px 20px 15px 10px;
    color: rgb(123, 109, 109);
}

.right ul li:hover {
    color: rgb(106, 106, 248);
    cursor: pointer;
}

footer {

    height: 50px;
    color: white;
    background-color: rgb(74, 68, 68);
    text-align: center;
    padding-top: 20px;
    min-width: 350px;
}

img {
    height: 35px
}
@media only screen and (max-width:900px) {
       .left{display: none;}
       .right{display:none;}
       .center{width: 100%;}
}
@media only screen and (max-width:680px) {
    .btn{display: none;}
}
@media only screen and (max-width:503px) {
    nav ul{margin-top:0px}
}